<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
            <label for="walletBalance">Player Wallet Balance</label>
            <input
                type="number"
                id="walletBalance"
                placeholder="Please select an initial wallet balance"
            />
            <label for="numberOfPlayers">Number of players to generate</label>
            <input
                type="number"
                id="numberOfPlayers"
                placeholder="Please set the number of players"
                />
            <label for="betValue1" >Bet Value 1</label>
            <input
                type="number"
                id="betValue1"
                placeholder="Bet Value 1"
                />
            <label for="betValue2" >Bet Value 2</label>
            <input
                type="number"
                id="betValue2"
                placeholder="Bet Value 2"
                />
            <label for="betValue3" >Bet Value 3</label>
            <input
                type="number"
                id="betValue3"
                placeholder="Bet Value 3"
                />
            <label for="housePercentage">House Percentage</label>
            <input
                type="text"
                id="housePercentage"
                placeholder="Enter the house percentage as a decimal value"
                />
            <label for="numberOfFlips">Number of Flips</label>
            <input
                type="number"
                id="numberOfFlips"
                placeholder="Enter the number of coin flips in a game"
                />
            <button id="submitSimSettings" >Set Simulation Settings</button>
            <p id="percentage"></p>
            <button id="startButton" style="display: none" >Start Simulation</button>
            <p style="display: none" id="percentage2"></p>
    </body>
    <footer>
        <script>
            function websocket (data){
                let webSocket = new WebSocket('ws://localhost:3000/seed');
                webSocket.onopen = function (evt) {
                    console.log('CONNECTED');
                    sendfunc(data);
                };

                function sendfunc(dataToSend) {
                    webSocket.onmessage = function (e) {
                        const percentageUi = document.getElementById('percentage')
                        let percentage = e.data + '%'
                        percentageUi.innerText = percentage
                        if(percentage === '100%'){
                            webSocket.close()
                            document.getElementById('submitSimSettings').disabled = false
                            document.getElementById('startButton').style.display = 'block'
                        }
                    };
                    webSocket.send(dataToSend);
                }}

            async function clearDB(){
               return await fetch('http://localhost:3000/seed/clearDB', {method:'delete', headers:{'Allow-Access-Control':'*'}})
            }

            function startSim() {
                const percentageUi = document.getElementById('percentage2')
                percentageUi.style.display = 'block'
                let webSocket = new WebSocket('ws://localhost:3000/start')
                webSocket.onopen = function (evt) {
                    console.log('CONNECTED');
                    startFunc();
                };
                function startFunc() {
                    webSocket.onmessage = function (e) {
                        console.log(e);
                        let percentage = e.data + '%'
                        percentageUi.innerText = percentage
                        if(percentage === '100%'){
                            document.getElementById('startButton').disabled = false
                            webSocket.close()
                        }
                    };
                    webSocket.send('ping');
                }
            }
        </script>
        <script>
            let submitButton = document.getElementById('submitSimSettings')
            submitButton.addEventListener('click',async function(e){
                e.preventDefault()
                submitButton.disabled = true
                console.log('fired')
                let numberOfPlayers = document.getElementById('numberOfPlayers').value
                let walletBalance = document.getElementById('walletBalance').value
                let betValue1 = document.getElementById('betValue1').value
                let betValue2 = document.getElementById('betValue2').value
                let betValue3 = document.getElementById('betValue3').value
                let housePercentage = document.getElementById('housePercentage').value
                let data = {
                    "walletBalance":walletBalance,
                    "numberOfPlayers":numberOfPlayers,
                    "betValues":{
                        "betValue1":betValue1,
                        "betValue2":betValue2,
                        "betValue3":betValue3
                    },
                    'housePercentage':housePercentage
                }
                await clearDB().then(r=> {

                    if(r.status === 200) {
                        websocket(JSON.stringify(data))
                    }
                })
            })

            let startButton  = document.getElementById('startButton')
            startButton.addEventListener('click', function(e){
                e.preventDefault()
                startButton.disabled = true
                console.log('started')
                startSim()
            })
        </script>
    </footer>
</html>
